@use "@/styles/variables"as v;
@use "@/styles/mixins"as m;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    @include m.theme(light);
    font-family: v.$font-base;
    font-size: v.$font-size-base;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
  }

body.dark-mode {
    @include m.theme(dark);
}