@use "@/styles/mixins"as m;
@use "@/styles/variables"as v;

.containerGallery {
    @include m.size(90%, 500px);
    border-radius: 100px;
    padding: 20px 0;
    position: relative;

    box-shadow:
        inset 8px 8px 16px rgba(0, 0, 0, 0.3),
        inset -8px -8px 16px rgba(255, 255, 255, 0.2);

    .dark-mode & {
        @include m.theme(dark);
    }
}